@import "../_variables.less";
@import "../_mixins.less";

.table {
    width: 100%;

    th, td {
        padding: 0.5rem 0.8rem;
        border: solid 1px @medium;
    }

    th {
        background: @medium-well;
        color: @raw;
        text-transform: uppercase;
    }

    tr:nth-child(odd) {
        background: @rare;
    }
}

.table__icons-row {
    
}

.table__icons-row-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.table__icons-row-icon {
    font-size: 1.7rem;
    color: @black;

    .fa-pencil {
        transition: color 0.2s ease-in-out;

        &:hover {
            color: @theme-blue;
        }
    }

    .fa-trash {
        transition: color 0.2s ease-in-out;

        &:hover {
            color: @theme-red;
        }
    }

    .fa-info-circle {
        transition: color 0.2s ease-in-out;

        &:hover {
            color: @theme-green;
        }
    }
}


.table__admin-info {
    background: @raw;
    max-width: 500px;
    width: 100%;
    margin-bottom: 1rem;

    tr:nth-child(odd) {
        background: @raw;
    }

    tr td:first-child {
        background: @medium-rare;
    }
}

.table__actions {
    width: 150px;
}
/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 */
@media (min-width: @tablet-breakpoint) {
}
/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 */
@media (min-width: @desktop-breakpoint) {
}
/*
 * --   XL MEDIA QUERIES --
*/
@media (min-width: @xl-breakpoint) {
}
