@import "../_variables.less";
@import "../_mixins.less";

.table {
    width: 100%;

    th, td {
        padding: 0.3rem 0.5rem;
        border: solid 1px @medium;
    }
}

.table__icons-row {
    
}

.table__icons-row-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.table__icons-row-icon {
    font-size: 1.3rem;
    color: @black;
}
/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 */
@media (min-width: @tablet-breakpoint) {
}
/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 */
@media (min-width: @desktop-breakpoint) {
}
/*
 * --   XL MEDIA QUERIES --
*/
@media (min-width: @xl-breakpoint) {
}
