@model IList<TopAward>

@{ 
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <h1>Hello @UserManager.GetUserName(User)</h1>
}

@if (Model != null)
{
    foreach (var topAward in Model)
    {
        @topAward.AwardID
        @topAward.Award.Name
        @topAward.TotalPoints
    }
}

@*<label>todo</label>
<ul>
    <li>Listing of Users with Most Points (max 25 to show) w/ link to full leaderboard</li>
    <li>Listing of top Actions performed (max 25 to show) w/ link to full leaderboard</li>
</ul>*@