<div class="admin-backend">

    <nav class="admin-backend__nav">

        <ul class="admin-backend__nav-list">
            @for (var i = 0; i < 6; i++)
            {
                <li class="admin-backend__nav-list-item">
                    <a href="javascrip:;" class="admin-backend__nav-list-item-link link-icon">
                        <span class="admin-backend__nav-list-item-link-icon link-icon__icon fa fa-user" aria-label="hidden"></span>
                        <span class="admin-backend__nav-list-item-link-text link_icon__text">Users</span>
                    </a>
                </li>
            }

        </ul>

    </nav>

    <div class="admin-backend__main">

        <div class="admin-backend__main-header">
            <div class="admin-backend__main-header-title">
                <span class="admin-backend__main-header-title-icon fa fa-user"></span>
                <span class="admin-backend__main-header-title-text">Users</span>
            </div>
        </div>

        <div class="admin-backend__main-content">

        </div>

    </div>

</div>