@{ 
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="admin-backend__main-header">
    <div class="admin-backend__main-header-title">
        <span class="admin-backend__main-header-title-icon fa fa-tachometer"></span>
        <span class="admin-backend__main-header-title-text">Dashboard</span>
    </div>

    <div class="admin-backend__main-header-actions">

    </div>
</div>

<div class="admin-backend__main-content">

    <table class="table">

        <tbody>
            <tr>
                <td></td>
            </tr>
        </tbody>

    </table>

</div>
