<script id="export-xls-tmpl" type="text/html">
    <a data-bind="attr: { download: data.fileName }, css: css.anchorCSS, click: methods.export" href="javascript:;" title="Export to Excel">
        <span data-bind="css: css.iconCSS" aria-hidden="true"></span>
    </a>
</script>