<script id="qr-scanner-tmpl" type="text/html">

    <!-- ko if: state.awardConfirmation -->
    <div>
        <div>
            <span>User Number:</span> <span data-bind="text: data.awardConfirmation.userNumber"></span>
        </div>
        <div>
            <span>Points Awarded:</span> <span data-bind="text: data.awardConfirmation.pointsAwarded"></span>
        </div>
        <div>
            <span>Points Balance:</span> <span data-bind="text: data.awardConfirmation.pointsBalance"></span>
        </div>
        <button data-bind="click: methods.dismissConfirmation">Ok</button>
    </div>
    <!-- /ko -->
    <!-- ko if: state.redemptionConfirmation -->
    <div>

        <!-- ko if: data.redemptionConfirmation.success -->
        <h3>Success!</h3>
        <!-- /ko -->
        <!-- ko ifnot: data.redemptionConfirmation.success -->
        <h3>Error!</h3>
        <!-- /ko -->

        <div>
            <span>User Number:</span> <span data-bind="text: data.redemptionConfirmation.userNumber"></span>
        </div>

        <div>
            <span>Points Balance:</span> <span data-bind="text: data.redemptionConfirmation.pointsBalance"></span>
        </div>
        <!-- ko if: data.redemptionConfirmation.pointsShort() > 0 -->
        <div>
            <span>Points Short:</span> <span data-bind="text: data.redemptionConfirmation.pointsShort"></span>
        </div>
        <!-- /ko -->
        <button data-bind="click: methods.dismissConfirmation">Ok</button>
    </div>
    <!-- /ko -->
    <!-- ko if: state.error() != null -->
    <div class="full-screen-overlay">

        <div class="full-screen-overlay__content">
            <div class="full-screen-overlay__content-text rich-text" data-bind="text: state.error"></div>
            <button class="red-button" data-bind="click: methods.dismissError">Ok</button>
        </div>
    </div>
    <!-- /ko -->
    <!-- ko if: data.cameras().length > 1 -->
    <div class="scanner__camera-buttons">
        <!-- ko foreach: data.cameras -->
        <div class="scanner__camera-buttons-item">
            <button class="blue-button" data-bind="click: $parent.methods.changeCamera, text: name, css: { 'active': name === $parent.state.currentCamera().name }">cam</button>
        </div>
        <!-- /ko -->
    </div>
    <!-- /ko -->
    <!-- ko ifnot: data.cameras().length > 0-->
    <div>Looking for cameras...</div>
    <!-- /ko -->

    <div class="scanner__camera-wrapper">
        <video class="scanner__camera" data-bind="qrScanner: { scanner: data.scanner, onScan: events.onScan, onActive: events.onScan, onInActive: events.onInActive, cameras: data.cameras }"></video>
    </div>

    <form data-bind="submit: methods.submit">
        <div class="scanner__manual-entry input input__joined input__text">
            <label for="manual-entry">Enter UserNumber/Code Manually</label>
            <input class="" id="manual-entry" type="text" data-bind="textInput: data.code " />

            <button class="blue-button" type="submit">Submit Code</button>
        </div>
    </form>


</script>