<script id="qr-scanner-tmpl" type="text/html">

    <!-- ko if: state.confirmation -->
    <div>
        <div>
            <span>User Number:</span> <span data-bind="text: data.confirmation.userNumber"></span>
        </div>
        <div>
            <span>Points Awarded:</span> <span data-bind="text: data.confirmation.pointsAwarded"></span>
        </div>
        <div>
            <span>Points Balance:</span> <span data-bind="text: data.confirmation.pointsBalance"></span>
        </div>
        <button data-bind="click: methods.dismissConfirmation">Ok</button>
    </div>
    <!-- /ko -->
    <!-- ko if: state.error() != null -->
    <div>
        <span data-bind="text: state.error"></span>
        <button data-bind="click: methods.dismissError">Ok</button>
    </div>
    <!-- /ko -->
    <!-- ko if: data.cameras().length > 1 -->
    <div class="scanner__camera-buttons">
        <!-- ko foreach: data.cameras -->
        <div class="scanner__camera-buttons-item">
            <button class="blue-button" data-bind="click: $parent.methods.changeCamera, text: name, css: { 'active': name === $parent.state.currentCamera().name }">cam</button>
        </div>
        <!-- /ko -->
    </div>
    <!-- /ko -->
    <!-- ko ifnot: data.cameras().length > 0-->
    <div>Looking for cameras...</div>
    <!-- /ko -->

    <div class="scanner__camera-wrapper">
        <video class="scanner__camera" data-bind="qrScanner: { scanner: data.scanner, onScan: events.onScan, onActive: events.onScan, onInActive: events.onInActive, cameras: data.cameras }"></video>
    </div>

    <form data-bind="submit: methods.submit">
        <div class="input input__text">
            <label for="manual-entry">Enter UserNumber/Code Manually</label>
            <input id="manual-entry" type="text" data-bind="textInput: data.code " />
        </div>
        <button class="blue-button" type="submit">Submit Code</button>
    </form>


</script>