<script id="qr-scanner-tmpl" type="text/html">

    <!-- ko if: state.error != null -->
    <p data-bind="text: state.error"></p>
    <!-- /ko -->

    <!-- ko foreach: data.cameras -->
    <button data-bind="click: $parent.methods.changeCamera, text: name, css: { 'active': name === $parent.state.currentCamera().name }">cam</button>
    <!-- /ko -->

    <!-- ko ifnot: data.cameras().length > 0-->
    <div>Looking for cameras...</div>
    <!-- /ko -->

    <video data-bind="qrScanner: { scanner: data.scanner, onScan: events.onScan, onActive: events.onScan, onInActive: events.onInActive, cameras: data.cameras }"></video>
    
    <form data-bind="submit: methods.submit">
        <label for="manual-entry">Enter Code</label>
        <input id="manual-entry" type="text" data-bind="textInput: data.code "/> 
        <button type="submit">Submit Code</button>
    </form>
    

</script>