<script id="qr-scanner-tmpl" type="text/html">

    <!-- ko if: state.awardConfirmation -->
    <div class="full-screen-overlay">

        <div class="full-screen-overlay__content rich-text">

            <div class="full-screen-overlay__content-text">
                <span class="font-semibold">User Number:</span> <span data-bind="text: data.awardConfirmation.userNumber"></span>
            </div>

            <div class="full-screen-overlay__content-text">
                <span class="font-semibold">Points Awarded:</span> <span data-bind="text: data.awardConfirmation.pointsAwarded"></span>
            </div>

            <div class="full-screen-overlay__content-text">
                <span class="font-semibold">Points Balance:</span> <span data-bind="text: data.awardConfirmation.pointsBalance"></span>
            </div>

            <button class="green-button" data-bind="click: methods.dismissConfirmation">Ok</button>

            <set-user-externalid params="{ userNumber: data.awardConfirmation.userNumber, externalID: data.externalID }"></set-user-externalid>

        </div>

    </div>
    <!-- /ko -->
    <!-- ko if: state.redemptionConfirmation -->
    <div class="full-screen-overlay">

        <div class="full-screen-overlay__content rich-text">


            <!-- ko if: data.redemptionConfirmation.success -->
            <h3>Success!</h3>
            <!-- /ko -->
            <!-- ko ifnot: data.redemptionConfirmation.success -->
            <h3>Error!</h3>
            <!-- /ko -->

            <div class="full-screen-overlay__content-text">
                <span class="font-semibold">User Number:</span> <span data-bind="text: data.redemptionConfirmation.userNumber"></span>
            </div>

            <div class="full-screen-overlay__content-text">
                <span class="font-semibold">Points Balance:</span> <span data-bind="text: data.redemptionConfirmation.pointsBalance"></span>
            </div>
            <!-- ko if: data.redemptionConfirmation.pointsShort() > 0 -->
            <div class="full-screen-overlay__content-text">
                <span class="font-semibold">Points Short:</span> <span data-bind="text: data.redemptionConfirmation.pointsShort"></span>
            </div>
            <!-- /ko -->
            <button class="blue-button" data-bind="click: methods.dismissConfirmation">Ok</button>

            <set-user-externalid params="{ userNumber: data.redemptionConfirmation.userNumber, externalID: data.externalID }"></set-user-externalid>
        </div>
    </div>
    <!-- /ko -->
    <!-- ko if: state.balanceConfirmation -->
    <div class="full-screen-overlay">

        <div class="full-screen-overlay__content rich-text">
            <div class="full-screen-overlay__content-text">
                <span class="font-semibold">Attendee Number:</span> <span data-bind="text: data.balanceConfirmation.userNumber"></span>
            </div>
            <div class="full-screen-overlay__content-text">
                <span class="font-semibold">Points Balance:</span> <span data-bind="text: data.balanceConfirmation.pointsBalance"></span>
            </div>
            <button class="green-button" data-bind="click: methods.dismissConfirmation">Ok</button>

            <set-user-externalid params="{ userNumber: data.balanceConfirmation.userNumber, externalID: data.externalID }"></set-user-externalid>
        </div>
    </div>
    <!-- /ko -->
    <!-- ko if: state.error() != null -->
    <div class="full-screen-overlay">

        <div class="full-screen-overlay__content">
            <div class="full-screen-overlay__content-text rich-text" data-bind="text: state.error"></div>
            <button class="red-button" data-bind="click: methods.dismissError">Ok</button>
        </div>
    </div>
    <!-- /ko -->
    <!-- ko if: data.cameras().length > 1 -->
    <div class="scanner__camera-buttons">
        <!-- ko foreach: data.cameras -->
        <div class="scanner__camera-buttons-item">
            <button class="blue-button" data-bind="click: $parent.methods.changeCamera, text: name, css: { 'active': name === $parent.state.currentCamera().name }">cam</button>
        </div>
        <!-- /ko -->
    </div>
    <!-- /ko -->
    <!-- ko ifnot: data.cameras().length > 0-->
    <div>Looking for cameras...</div>
    <!-- /ko -->

    <div class="scanner__camera-wrapper">
        <video class="scanner__camera" data-bind="qrScanner: { scanner: data.scanner, onScan: events.onScan, onActive: events.onScan, onInActive: events.onInActive, cameras: data.cameras }"></video>
    </div>

    <form data-bind="submit: methods.submit">
        <div class="scanner__manual-entry input input__joined input__text">
            <label for="manual-entry">Or, Enter Attendee Number</label>
            <input class="" id="manual-entry" type="text" data-bind="textInput: data.code " />

            <button class="blue-button" type="submit">Submit Code</button>
        </div>
    </form>


</script>