<script id="set-user-externalid-tmpl" type="text/html">

    <div class="full-screen-overlay__content-external">
        <!-- ko if: state.showForm -->
        <form class="full-screen-overlay__content-external-form" method="post" data-bind="submit: methods.submit" asp-controller="User" asp-action="SetExternalID">
            <div class="input input__joined input__text">
                <label>Set External ID</label>
                <input type="text" data-bind="value: data.externalID" />
                <button class="blue-button" type="submit">Set</button>
            </div>
        </form>
        <!-- /ko -->
        <!-- ko if: state.error -->
        <div class="full-screen-overlay__content-external-message" data-bind="text: state.error"></div>
        <!-- /ko -->
        <!-- ko if: state.success -->
        <div class="full-screen-overlay__content-external-message" data-bind="text: state.success"></div>
        <!-- /ko -->
    </div>

</script>