@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="admin-backend">
    <div class="admin-backend__top">
        <img class="admin-backend__top-logo" src="~/images/Indspire-logo.jpg" alt="Indspire" />
        <span class="admin-backend__top-text">Engagement - Admin Portal</span>
        <div class="admin-backend-top__right">
            <label class="admin-backend__top-event-select-label" for="event-selector">Event:</label>
            <select id="event-selector" class="admin-backend__top-event-select">
                <option class="admin-backend__top-event-select-item">Item 1</option>
                <option class="admin-backend__top-event-select-item">Item 2</option>
                <option class="admin-backend__top-event-select-item">Item 3</option>
            </select>
            @await Html.PartialAsync("_LoginPartial")
        </div>
    </div>
    <nav class="admin-backend__nav">

        <ul class="admin-backend__nav-list">

            

            <li class="admin-backend__nav-list-item">
                <a href="/user" class="admin-backend__nav-list-item-link link-icon">
                    <span class="admin-backend__nav-list-item-link-icon link-icon__icon fa fa-user" aria-label="hidden"></span>
                    <span class="admin-backend__nav-list-item-link-text link_icon__text">Users</span>
                </a>
            </li>

            <li class="admin-backend__nav-list-item">
                <a href="/award" class="admin-backend__nav-list-item-link link-icon">
                    <span class="admin-backend__nav-list-item-link-icon link-icon__icon fa fa-trophy" aria-label="hidden"></span>
                    <span class="admin-backend__nav-list-item-link-text link_icon__text">Awards</span>
                </a>
            </li>

            <li class="admin-backend__nav-list-item">
                <a href="/redemption" class="admin-backend__nav-list-item-link link-icon">
                    <span class="admin-backend__nav-list-item-link-icon link-icon__icon fa fa-gift" aria-label="hidden"></span>
                    <span class="admin-backend__nav-list-item-link-text link_icon__text">Redemptions</span>
                </a>
            </li>

            <li class="admin-backend__nav-list-item">
                <a href="/applicationuser" class="admin-backend__nav-list-item-link link-icon">
                    <span class="admin-backend__nav-list-item-link-icon link-icon__icon fa fa-gear" aria-label="hidden"></span>
                    <span class="admin-backend__nav-list-item-link-text link_icon__text">App Users</span>
                </a>
            </li>

            @*<li class="admin-backend__nav-list-item">
                <a href="" class="admin-backend__nav-list-item-link link-icon">
                    <span class="admin-backend__nav-list-item-link-icon link-icon__icon fa fa-gear" aria-label="hidden"></span>
                    <span class="admin-backend__nav-list-item-link-text link_icon__text">Settings</span>
                </a>
            </li>*@


        </ul>

    </nav>

    <div class="admin-backend__main">

        @RenderBody()

    </div>

</div>

@RenderSection("Scripts", required: false)