@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="admin-backend">

    <div class="admin-backend__top">
        <img class="admin-backend__top-logo" src="~/images/Indspire-logo.jpg" alt="Indspire" />
        <span class="admin-backend__top-text">Engagement - Admin Portal</span>
        <div class="admin-backend-top__right">
            @await Html.PartialAsync("_InstanceSelector")
            @await Html.PartialAsync("_LoginPartial")
        </div>
    </div>

    <nav class="admin-backend__nav">
        <ul class="admin-backend__nav-list">

            <li class="admin-backend__nav-list-item">
                <a is-active-route asp-action="Index" asp-controller="Admin" class="admin-backend__nav-list-item-link link-icon">
                    <span class="admin-backend__nav-list-item-link-icon link-icon__icon fa fa-tachometer" aria-label="hidden"></span>
                    <span class="admin-backend__nav-list-item-link-text link_icon__text">Dashboard</span>
                </a>
            </li>

            <li class="admin-backend__nav-list-item">
                <a is-active-route asp-action="Index" asp-controller="Attendee" class="admin-backend__nav-list-item-link link-icon">
                    <span class="admin-backend__nav-list-item-link-icon link-icon__icon fa fa-user" aria-label="hidden"></span>
                    <span class="admin-backend__nav-list-item-link-text link_icon__text">Attendees</span>
                </a>
            </li>

            <li class="admin-backend__nav-list-item">
                <a is-active-route asp-action="Index" asp-controller="Award" class="admin-backend__nav-list-item-link link-icon">
                    <span class="admin-backend__nav-list-item-link-icon link-icon__icon fa fa-trophy" aria-label="hidden"></span>
                    <span class="admin-backend__nav-list-item-link-text link_icon__text">Awards</span>
                </a>
            </li>

            <li class="admin-backend__nav-list-item">
                <a asp-action="Index" asp-controller="Instance" class="admin-backend__nav-list-item-link link-icon">
                    <span class="admin-backend__nav-list-item-link-icon link-icon__icon fa fa-user" aria-label="hidden"></span>
                    <span class="admin-backend__nav-list-item-link-text link_icon__text">Instances</span>
                </a>
            </li>

            <li class="admin-backend__nav-list-item">
                <a asp-action="Index" asp-controller="Redemption" class="admin-backend__nav-list-item-link link-icon">
                    <span class="admin-backend__nav-list-item-link-icon link-icon__icon fa fa-gift" aria-label="hidden"></span>
                    <span class="admin-backend__nav-list-item-link-text link_icon__text">Redemptions</span>
                </a>
            </li>

            <li class="admin-backend__nav-list-item">
                <a is-active-route asp-action="Index" asp-controller="ApplicationUser" class="admin-backend__nav-list-item-link link-icon">
                    <span class="admin-backend__nav-list-item-link-icon link-icon__icon fa fa-gear" aria-label="hidden"></span>
                    <span class="admin-backend__nav-list-item-link-text link_icon__text">Users</span>
                </a>
            </li>
        </ul>
    </nav>

    <div class="admin-backend__main">

        @RenderBody()

    </div>
</div>

@RenderSection("Scripts", required: false)