@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="admin-backend">

    <nav class="admin-backend__nav">

        <ul class="admin-backend__nav-list">

            <li class="admin-backend__nav-list-item">
                <a href="javascrip:;" class="admin-backend__nav-list-item-link link-icon">
                    <span class="admin-backend__nav-list-item-link-icon link-icon__icon fa fa-user" aria-label="hidden"></span>
                    <span class="admin-backend__nav-list-item-link-text link_icon__text">Users</span>
                </a>
            </li>

            <li class="admin-backend__nav-list-item">
                <a href="javascrip:;" class="admin-backend__nav-list-item-link link-icon">
                    <span class="admin-backend__nav-list-item-link-icon link-icon__icon fa fa-trophy" aria-label="hidden"></span>
                    <span class="admin-backend__nav-list-item-link-text link_icon__text">Awards</span>
                </a>
            </li>

            <li class="admin-backend__nav-list-item">
                <a href="javascrip:;" class="admin-backend__nav-list-item-link link-icon">
                    <span class="admin-backend__nav-list-item-link-icon link-icon__icon fa fa-gear" aria-label="hidden"></span>
                    <span class="admin-backend__nav-list-item-link-text link_icon__text">Settings</span>
                </a>
            </li>


        </ul>

    </nav>

    <div class="admin-backend__main">

        @RenderBody()

    </div>

    @RenderSection("Scripts", required: false)

</div>