@using Indspire.Soaring.Engagement.Data
@using Microsoft.EntityFrameworkCore

@inject ApplicationDbContext DbContext

@if (DbContext != null)
{
    var instances = await DbContext.Instance
        .OrderBy(i => i.Name)
        .ToListAsync();

    if (instances != null && instances.Count > 0)
    {
        <form class="instance-selector" asp-action="Select" asp-controller="Instance" method="post">
            <div class="instance-selector__input input input__select">
                <label class="admin-backend__top-event-select-label" for="event-selector">Event:</label>
                <select id="event-selector" name="InstanceID" class="admin-backend__top-event-select">

                    @foreach (var instance in instances)
                    {
                        <option class="admin-backend__top-event-select-item"
                                value="@instance.InstanceID">
                            @instance.Name
                        </option>
                    }
                </select>
                <button class="blue-button" type="submit">Select</button>
            </div>
        </form>
    }
    else
    {
        <h1>No instances.</h1>
    }
}