<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Indspire.Soaring.Engagement</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/app.css" />

</head>
<body>
    @*<nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Indspire.Soaring.Engagement</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/home">Home</a></li>
                </ul>
            </div>
        </div>
    </nav>*@
    <div class="body-content">
        @RenderBody()
    </div>

    <footer>
        @*<p>&copy; 2017 - Indspire.Soaring.Engagement</p>*@
    </footer>


    @Html.Partial("~/Views/Shared/_CoreKOTemplates.cshtml")

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/knockout/dist/knockout.js"></script>
    <script src="~/lib/instascan/dist/instascan.js"></script>
    <script src="~/js/bindings/qr-scanner-binding.js"></script>
    <script src="~/js/components/award-validate-component.js"></script>
    <script src="~/js/components/qr-scanner-component.js"></script>
    <script src="~/js/site.js"></script>
    
</body>
</html>


