@using Microsoft.AspNetCore.Identity
@using Indspire.Soaring.Engagement.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="admin-backend__top-logout">
        <button type="submit" class="blue-button">
            <span class="admin-backend__top-logout-icon fa fa-sign-out"></span> Logout
        </button>
    </form>
}