@model CreateInstanceViewModel

@if (Model != null)
{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    <div class="admin-backend__main-header">
        <div class="admin-backend__main-header-title">
            <a class="admin-backend__main-header-title-back fa fa-chevron-left" asp-action="Index"></a>
            <span class="admin-backend__main-header-title-icon fa fa-user-plus"></span>
            <span class="admin-backend__main-header-title-text">Create Instance</span>
        </div>

        <div class="admin-backend__main-header-actions">

        </div>
    </div>

    <div class="admin-backend__main-content">
        <form asp-action="Create" class="admin-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="input input__text">
                <label asp-for="Name" class="control-label">Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="input input__text">
                <label asp-for="Description" class="control-label">Description</label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="input input__text">
                <label asp-for="DefaultInstance" class="control-label">Default Instance</label>
                <input asp-for="DefaultInstance" class="form-control" />
                <span asp-validation-for="DefaultInstance" class="text-danger"></span>
            </div>

            <div class="admin-create-user__form-submit">
                <input type="submit" value="Create" class="blue-button admin-create-user__form-submit-button" />
            </div>
        </form>
    </div>
}

@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}