@model EditAwardViewModel

@if (Model != null)
{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    <div class="admin-backend__main-header">
        <div class="admin-backend__main-header-title">
            <a class="admin-backend__main-header-title-back fa fa-chevron-left" asp-action="Index"></a>
            <span class="admin-backend__main-header-title-icon fa fa-pencil"></span>
            <span class="admin-backend__main-header-title-text">Edit Award</span>
        </div>

        <div class="admin-backend__main-header-actions">

        </div>
    </div>

    <div class="admin-backend__main-content">
        <form asp-action="Edit" class="admin-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AwardID" />


            <div class="input input__text">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="input input__textarea">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="input input__text">
                <label asp-for="Points" class="control-label"></label>
                <input asp-for="Points" class="form-control" />
                <span asp-validation-for="Points" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="blue-button" />
            </div>
        </form>
    </div>
}

@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
