



<form method="get" action="/award/scan">
    <p>This page is intended for Vendors at the conference to issue points to attendees by scanning their QR code.</p>
    <label for="AwardNumber">Enter your Code</label>
    <input type="text" name="AwardNumber" />
    <button type="submit">Submit Code</button>
</form>
