@import (reference) "../_variables.less";
@import (reference) "../_mixins.less";

@nav-base-width: 60px;

.admin-backend {
    width: 100%;
    height: 100%;
}

.admin-backend__nav {
    background: @theme-blue;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    max-width: @nav-base-width;
    transition: max-width 0.2s ease-in-out;
    overflow: hidden;

    &:hover {
        max-width: 250px;
    }
}

.admin-backend__nav-list {
    .reset-ul();
    display: block;
    width: 100%;
}

.admin-backend__nav-list-item {
    list-style-type: none;
    margin: 0;
    display: block;
}

.admin-backend__nav-list-item-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    .font-semibold;
    color: @raw;
    width: 100%;

    &:hover {
        background: darken(@theme-blue, 20%);
    }
}

.admin-backend__nav-list-item-link-icon {
    font-size: 2rem;
    flex: 0 0 50px;
    height: @nav-base-width;
    width: @nav-base-width;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.admin-backend__nav-list-item-link-text {
    padding: 0.8rem 1rem 0.8rem 0.8rem;
}

.admin-backend__main {
    padding-left: @nav-base-width;
    background: @raw;
}

// Header
.admin-backend__main-header {
    width: 100%;
    background: @raw;
    padding: 1rem;
}

.admin-backend__main-header-title {
    display: flex;
    width: 100%;
    align-items: center;
}

.admin-backend__main-header-title-icon {
    font-size: 2rem;
    margin-right: 1rem;
}

.admin-backend__main-header-title-text {
    font-size: 1.5rem;
    .font-bold;
}



/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 */
@media (min-width: @tablet-breakpoint) {
}


/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 */
@media (min-width: @desktop-breakpoint) {
}

/*
 * --   XL MEDIA QUERIES --
*/
@media (min-width: @xl-breakpoint) {
}
