@import (reference) "../_variables.less";
@import (reference) "../_mixins.less";

.scanner {
    .admin-backend__top {
        display: none;
    }
}

.scanner-content {    
    width: 100%;
    background: @raw;
}

.scanner-content__wrapper {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    height: 100vh;
    background: @raw;
    text-align: center;
}

.scanner__camera-wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.scanner__camera-buttons {
    display: flex;
    margin-bottom: 1rem;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    overflow: hidden;
}

.scanner__camera-buttons-item {
    flex: 0 0 50%;
    flex-wrap: wrap;
    padding: 0 0.5rem;
    display: flex;

    button {
        font-size: 0.7rem;
        display: block;
        width: 100%;
        height: 100%;

        &.active {
            background: @theme-green;
            border-color: @theme-green;
        }
    }
}


.scanner__camera {
    position: absolute;
    left: 50%;
    height: 100%;
    top: 0;
    transform: translateX(-50%) scaleX(-1) !important;
}

.scanner__manual-entry {
    input {
        display: block;
        margin: 0 auto;
    }
}

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 */
@media (min-width: @tablet-breakpoint) {
    .scanner {
        .admin-backend__top {
            display: flex;
        }
    }

    .scanner-content {
        overflow: hidden;
        height: 100vh;
    }
    .scanner__content-wrapper {
        margin-bottom: 2rem;
        border-radius: 4px;
        height: auto;
        .box-shadow-bottom;
    }

    .scanner-content {
        padding-top: ~"calc(" @logo-height ~" + 2rem)";
    }
}


/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 */
@media (min-width: @desktop-breakpoint) {
}

/*
 * --   XL MEDIA QUERIES --
*/
@media (min-width: @xl-breakpoint) {
}
