@model Indspire.Soaring.Engagement.ViewModels.RedemptionScanViewModel

@{
    Layout = "~/Views/Shared/_ScannerLayout.cshtml";

    var redeemTitle = Model.Redemption != null ? Model.Redemption.Name : "";
}

<div class="scanner">

    <div class="admin-backend__top">
        <img class="admin-backend__top-logo" src="~/images/Indspire-logo.jpg" alt="Indspire" />
        <span class="admin-backend__top-text">Redeem @redeemTitle</span>

        @*<a href="" class="admin-backend__top-logout">
            <span class="admin-backend__top-logout-icon fa fa-sign-out"></span>
            Logout
        </a>*@
    </div>

    <div class="scanner-content">

        <div class="scanner-content__wrapper">
            @if (Model.RedemptionNumberInvalid && Model.HasRedemptionNumber)
            {
                <p>The code you entered is not valid. Please try again.</p>

            }


            @if (Model.RedemptionNumberInvalid || !Model.HasRedemptionNumber)
            {
                <form method="get" action="/redemption/scan">
                    <p>This page is intended for Vendors to track giveaways or lottery entries. You must enter the reward code first the proceed to scanning attendees.</p>
                    <div class="input input__text input__joined">
                        <label for="RedemptionNumber">Enter your Redemption Code</label>
                        <input type="text" name="RedemptionNumber" />
                        <button class="blue-button" type="submit">Submit Code</button>
                    </div>
                </form>
            }

            @if (Model.Redemption != null)
            {

                <h5 class="desktop-hide">Log Redemption for @Model.Redemption.Name (@Model.Redemption.PointsRequired Points)</h5>
                <h6>Scan a QR code below</h6>
                <qr-scanner params="{ type: 'Redemption', redemptionNumber: '@Model.RedemptionNumber' }"></qr-scanner>
            }
        </div>

    </div>

</div>