
@{ 
    Layout = "~/Views/Shared/_ScannerLayout.cshtml";
}

<h1>Redeem Points</h1>
<p>Scan a QR code below</p>
<qr-scanner params="{ type: 'Redemption', redemptionNumber: '123213213' }"></qr-scanner>


