@using Indspire.Soaring.Engagement.Extensions
@model Indspire.Soaring.Engagement.Database.User

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="admin-backend__main-header">
    <div class="admin-backend__main-header-title">
        <a class="admin-backend__main-header-title-back fa fa-chevron-left" asp-action="Index"></a>
        <span class="admin-backend__main-header-title-icon fa fa-pencil"></span>
        <span class="admin-backend__main-header-title-text">Edit Atendee</span>
    </div>

    <div class="admin-backend__main-header-actions">

    </div>
</div>

<div class="admin-backend__main-content">
    <form asp-action="Edit" class="admin-form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="UserID" />

        <div class="input input__text">
            <label asp-for="ExternalID" class="control-label">External ID</label>
            <input asp-for="ExternalID" class="form-control" />
            <span asp-validation-for="ExternalID" class="text-danger"></span>
        </div>

        <div class="admin-edit-user__submit">
            <input type="submit" value="Save" class="blue-button admin-edit-user__submit-button" />
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
