
<div class="scanner">

    <div class="admin-backend__top">
        <img class="admin-backend__top-logo" src="~/images/Indspire-logo.jpg" alt="Indspire" />
        <span class="admin-backend__top-text">Check User Points Balance</span>
    </div>

    <div class="scanner-content">
        <div class="scanner-content__wrapper">

            <h5 class="desktop-hide">Check User Points Balance</h5>
                

            <h6>Scan a QR code below</h6>
            <qr-scanner params="{ type: 'Balance' }"></qr-scanner>
            
        </div>
    </div>
</div>