@model Indspire.Soaring.Engagement.ViewModels.BulkCreateViewModel
@{
    ViewData["Title"] = "Attendees Created";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="admin-backend__main-header">
    <div class="admin-backend__main-header-title">
        <a class="admin-backend__main-header-title-back fa fa-chevron-left" asp-action="Index"></a>
        <span class="admin-backend__main-header-title-icon fa fa-users"></span>
        <span class="admin-backend__main-header-title-text">@ViewData["Title"]</span>
    </div>

    <div class="admin-backend__main-header-actions">

    </div>
</div>

<div class="admin-backend__main-content">
    <p>@Model.AmountCreated/@Model.Amount attendees created successfully.</p>
    <a asp-action="PrintAllQRCodes" class="blue-button">Print QR Codes</a>
</div>
