@{
    ViewData["Title"] = "Create Bulk Attendees";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="admin-backend__main-header">
    <div class="admin-backend__main-header-title">
        <a class="admin-backend__main-header-title-back fa fa-chevron-left" asp-action="Index"></a>
        <span class="admin-backend__main-header-title-icon fa fa-users"></span>
        <span class="admin-backend__main-header-title-text">Create Bulk Attendees</span>
    </div>

    <div class="admin-backend__main-header-actions">

    </div>
</div>

<div class="admin-backend__main-content">
    <form class="admin-form" method="post" asp-action="BulkCreateConfirmation">
        <p>Enter a number below to automatically create unique attendees.</p>
        <div class="input input__text">
            <label>Attendees to Create</label>
            <input type="number" name="amount" />
        </div>
        <button type="submit" class="blue-button">Create Attendees</button>
        <a asp-action="Index" class="blue-button">Cancel</a>
    </form>
</div>