@using Indspire.Soaring.Engagement.Extensions
@model Indspire.Soaring.Engagement.Database.Attendee

<span>@Model.UserNumber</span>
@if (!string.IsNullOrEmpty(Model.UserNumber))
{
    <img class="admin-qr-code" src="data:image/png;base64,@Model.GetQRCodeAsBase64()" />
}